*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #9b908d;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #777;
  background-image: url(/src/img/healthy_food.jpeg);

  background-size: cover;
  background-repeat: no-repeat;
}
.container {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  width: 90%;
  height: 1000px;
  align-items: center;
  background-image: linear-gradient(
    to top,
    rgba(251, 252, 250, 0.986),
    rgba(250, 250, 249, 0.8)
  );
  overflow: hidden;
  box-shadow: 0 2rem 6rem 0.1rem rgba(97, 85, 81, 0.2);
}

header {
  height: 20rem;
  width: 100%;
  display: flex;
  background-image: linear-gradient(to right bottom, #fbdb89, #bdb7b7);
  flex-direction: row;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom: 3px solid rgb(7, 56, 7);
  align-items: center;
  justify-content: space-around;
}

.logo {
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  font-family: "Yellowtail", cursive;
  font-size: 4rem;
  color: darkgreen;
}
.search {
  background-color: #fff;
  border-radius: 2rem;
  height: 3rem;
  display: flex;
  height: 4rem;
  align-items: center;
  padding-left: 3rem;
  transition: all 0.3s;
}

.search_field {
  padding: 1rem 2rem;
  border: none;
  background: none;
  font-family: inherit;
  color: inherit;
  font-size: 1.5rem;
  width: 20rem;
}

.search_field::placeholder {
  color: #d3c7c3;
}
svg,
.search_icon {
  width: 3rem;
  height: 2rem;
  fill: currentColor;
}

.selectByRegion {
  background-image: linear-gradient(to right bottom, #f3b824, #f48982);
  border: none;
  height: 4rem;
  text-transform: uppercase;
  cursor: pointer;
  display: flex;
  color: #fff;
  align-items: center;
  transition: all 0.2s;
  padding: auto 2rem;
  padding-left: 3rem;
}

.selectByRegion:hover {
  background-image: linear-gradient(to right bottom, #f48982, #fbdb89);
}
.btn {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  font-weight: 600;
  border: none;
  transition: all 0.2s;
  cursor: pointer;
}
.btn:hover {
  background-image: linear-gradient(to right bottom, #f48982, #fbdb89);
}

.reset_btn {
  font-weight: 400;
  font-family: inherit;
  width: 10rem;
  border-radius: 0px 2rem 2rem 0px;
}

.main {
  display: flex;
  width: 100%;
  margin: 2rem;
  padding: 2rem;
  flex-direction: row;
  height: auto;
}
.resultContainer {
  width: 30%;
  height: auto;
  margin: 2rem;
  box-shadow: 5px 5px 10px rgb(12, 12, 12);
  padding: 5rem 1rem;
  background-color: #212025;
  color: #fff;
}
.recipeContainer {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: auto;
  margin: 2rem;
  box-shadow: 5px 5px 10px rgb(12, 12, 12);
  padding: 5rem;
  background-color: #f48982;
}

.ingredientContainer {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #fff;
  margin-bottom: 2rem;
}
table {
  font-size: 1.3rem;
  color: cornflowerblue;
  margin-bottom: 2rem;
}
.descriptionContainer {
  font-size: 1.3rem;
  margin: 2rem;
  padding: 1rem 2rem;
  line-height: 1.5rem;
  color: seagreen;
  border-radius: 1rem;
  border: 1rem dotted white;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #d3c7c3;
  margin-top: 1rem;
  background-color: rgb(243, 227, 227);
}
li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #d3c7c3;
  margin-top: 1rem;
  background-color: rgb(243, 227, 227);
  color: rgb(7, 56, 7);
}
img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.search-results {
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
}

.results {
  list-style: none;
  margin-bottom: 2rem;
}
.hidden {
  display: none;
  opacity: 0;
}
